@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Righteous);

html {
  font-family: 'Lato', sans-serif;
  font-weight: 100;

}


@font-face {
  font-family: lane;
  src:url(../lane.ttf);
}

.section {
  width: 100%;
  height: 100%;
  text-align: center;
}



#name-title{
  width: 12rem;
  margin: auto;
  font-family: Righteous;
  color:white;
  position: relative;
  top: 18rem;
  font-size: 10rem;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
  box-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
  border: 1rem solid white;
}

/*.color-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: url('../images/pixelated_layer.png') repeat top left fixed;
}*/

#home {
  text-align: center;
  background: url('../images/city_daytime.gif') no-repeat center center fixed;
  background-size: cover;
  width: 100%;
}

#about {
  background-color: white;
}

#about-content{
  font-family: Righteous;
  color: #333333;
  font-size: 2rem;
  width: 80rem;
  margin: auto;
  text-align: left;
  margin-top: 5rem;
  position: relative;
}



#portfolio {
  background: #343434;
}


#playlisten{
  background: url('../images/playlisten.png') no-repeat;
  background-size: 100%;
}

#louder{
  background: url('../images/louder.png') no-repeat;
  background-size: 100%;
}

#ledger{
  background: url('../images/ledger.png') no-repeat;
  background-size: 100%;
}

.nav-logo {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.4rem;
}




