@media only screen and (max-device-width: 760px) {

  #trigger{
    opacity:0.2;
  }

  #home {
    height: 100%;
    background-attachment: scroll; 
  }

  #name-title{
    position: absolute;
    top: 10rem;
  }

  #quote{
    height: 42%;
  }

  #quote-content{
    min-width: 0;
    font-size: 1.5rem;
    width: 18rem;
    margin-top: 3rem;
  }

  #quote h6{
    width: 20rem;
  }


  .nav-item {
    display: inline-block;
  }

  .navbar {
    width: 100%;
    height: 2rem;
    position: fixed;
    z-index: 2;
    background-color: #343434;
    box-shadow: 0 3px 3px rgba(1,1,1,0.2);
    -webkit-box-shadow: 0 3px 3px rgba(1,1,1,0.2);
    -moz-box-shadow: 0 3px 3px rgba(1,1,1,0.2);
  }

  .navbar-right, .navbar-left {
    text-align: center;
    display: inline;
    position: fixed;
  }

  .nav-logo {
    margin-top: .5rem;
    display:block
  }

  .navbar-left {
    width: 100%;
    right: 0;
    margin-top: 2%;
  }

  .navbar-right {
    width: 18%;
    right: -0.8rem;
    margin-top: 2rem;
    height: 12rem;
  }

  .nav-link {
    display: inline;
    color: white;
    top: 1rem;
    text-align: center;
    padding-top: 1rem;
    padding-right: 0.3rem;
  }
  
  .nav-link a {
    font-family: 'Righteous';
    font-size: 0.9rem;
    text-decoration: none;
    color: white;
  }

/*ABOUT --------------*/

  #about{
    background-position: -25rem;
    height: 150%;
    background-attachment: scroll; 
  }

  #about-content{
    box-sizing: border-box;
    top: 9rem;
    padding: 1rem 10px;
    font-size: 1.5rem;
    background-color: rgba(0,0,0,0.8);
    width: 18rem;
    min-width: 0;
    text-align: left;

  }

  .curtainContainer{
    width: 100%; 
    height: 100%;
    position: relative;
  }

  #contact {
    height: 100%;
    background-attachment: scroll; 
  }

  /* NAVBAR-------*/

  .nav-logo a{
    color: white;
    padding-top: 0.1rem;
  }

  #twitter{
    background-color:#55ACEE;
  }

  #google{
    background-color:#dd4b39;
  }

  #git{
    background-color:black;
  }

  #linkedin{
    background-color: #007bb6;
    /*padding-left: 0.1rem;*/
    padding-right: 0.1rem;
  } 

/*PORTFOLIO--------------*/
  #laptop{
    display: none;
  }

  #portfolio {
    background-color: white;
    position: relative;
    height: 100%;
  }

  #portfolio-anchor{
    position: relative;
    top: -20rem;
  }


  #playlisten{
  }

  #louder{
    top: 12rem;
  }

  .project{
    position: relative;
    background-repeat: no-repeat;
    left: 0;
    height: 10rem;
    top: 3rem;
    width: 15rem;
    margin: auto;
    display: block;
  }

  #caption-container{
    display: block;
    position: absolute;
    margin: auto;
    text-align: left;
    top: 14rem;
    height: 40rem;
    z-index: 0;
  }

  #caption-container h1{
    font-family: 'PT Sans', sans-serif;
    font-weight: 900;
    display: block;
    font-size: 1rem;  
    text-align: left;
  }


  #playlisten-caption{
    text-align: left;
    position: relative;
    display: block;
    top: 0;
    padding-bottom: 13rem;
  }

  #louder-caption{
    text-align: left;
    position: relative;
    display: block;
    top: 0;
  }

  #contact-container{
    text-align: center;
    position: relative;
    color: #414141;
    height: 15rem;
    top: 15rem;
    width: 17rem;
    font-size: 2rem;
    margin: auto;
    left: 0;
  }





}
