@media only screen and (max-device-width: 760px) {

  #home {
    height: 100%;
  }

  #name-title{
    position: relative;
    margin: auto;
  }

  #quote {
    height: 100%;
  }
  #project-container{
    background-color: white;
    position: relative;
    margin: auto;
    top: 1rem;
    height: 33rem;
  }

  #top-row{
    top: 5%;
    position: relative;
    margin: auto;
    height: 97%;
    width: 15rem;
  }

  .project-grid{
    width: 100%;
    height: 10rem;
    box-shadow: 3px 2px 2px rgba(150, 150, 150, 1);
  }

  .nav-item {
    display: inline-block;
  }

  .navbar {
    width: 100%;
    height: 2rem;
    position: fixed;
    z-index: 2;
    background-color: #343434;
    box-shadow: 0 3px 3px rgba(1,1,1,0.2);
    -webkit-box-shadow: 0 3px 3px rgba(1,1,1,0.2);
    -moz-box-shadow: 0 3px 3px rgba(1,1,1,0.2);
  }

  .navbar-right, .navbar-left {
    text-align: center;
    display: inline;
    position: fixed;
  }

  .nav-logo {
    margin-top: .5rem;
    display:block
  }

  .navbar-left {
    width: 100%;
    right: 0;
    margin-top: 2%;
  }

  .navbar-right {
    width: 18%;
    right: -0.8rem;
    margin-top: 2rem;
    height: 12rem;
  }

  .nav-link {
    display: inline;
    color: white;
    top: 1rem;
    text-align: center;
    padding-top: 1rem;
    padding-right: 0.7rem;
  }
  
  .nav-link a {
    font-family: 'Righteous';
    font-size: 0.9rem;
    text-decoration: none;
    color: white;
  }

  #quote{
    height: 36%;
    width: 20rem;
  }

  #quote-content{
    font-size: 1.5rem;
    width: 18rem;
    margin-top: 3rem;
  }

  #quote h6{
    width: 20rem;
  }

  #about{
    background-position: -25rem;
  }

  #about-content{
    box-sizing: border-box;
    top: 10rem;
    padding: 1rem 10px;
    font-size: 1.5rem;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
  }

  .curtainContainer{
    width: 100%; 
    height: 100%;
    position: relative;
  }

  #contact {
    position: absolute;
    background: url('../images/laptop_desk_color.gif') no-repeat -49rem center fixed;
  }

  .nav-logo a{
    color: white;
    padding-top: 0.1rem;
  }

  #twitter{
    background-color:#55ACEE;
  }

  #google{
    background-color:#dd4b39;
  }

  #git{
    background-color:black;
  }

  #linkedin{
    background-color: #007bb6;
    /*padding-left: 0.1rem;*/
    padding-right: 0.1rem;
  } 

}
